<html>
<head>
	<title></title>
</head>
<body>
	<a href="/pokemon"> Return to the pokedex </a> </br>
	
<!-- 	<form action="/fruits/<%= index %>?_method=PUT" method="POST">

		NAME: <input type="text" name="name" value="<%=fruit.name; %>"/><br />
		Color: <input type="text" name="color" value="<%=fruit.color; %>" /><br />
		Ready to Eat? <input type="checkbox" name="readyToEat"
		<% if(fruit.readyToEat == true) { %>
			checked
		<% } %>
		/><br />
		<input type="submit" name="" value="Update Fruit" />

	<form> -->
</body>
</html>