<!DOCTYPE html>
<html>
<head>
	<title>Pokedex</title>
	<link href="https://fonts.googleapis.com/css?family=Bangers|Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Pokedex: The Pokemon Index</h1>
	<div class="browse-box">
		<a href="/pokemon" id="browse-button">Browse the Index!</a>
	</div>	
	<br>
	<!-- <img src="http://digitalspyuk.cdnds.net/16/29/768x563/gallery-1468964850-maxresdefault-2.jpg"> -->

</body>
</html>