<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Index</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
</head>
<body>
	<h1>Pokemon Inventory</h1>

	<ul>
		<% for(let i = 0; i < pokemon.length; i++) {%>
			<li><a href="/pokemon/<%= i %>"><%= pokemon[i].name%></a></li>
			<img src=<%= pokemon[i].img%>>


		<% } %>
	</ul>



</body>
</html>