<html>
<head>
	<title>Pokedex</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<a href="/pokemon/new"> Add a new pokemon! </a> </br>
	<% for (let i = 0; i < pokemon.length; i++) { %>
		<a href="/pokemon/<%= i %>">
		<h1> <%= pokemon[i].name %> </h1> 
		<img src="<%= pokemon[i].img %>">
	<% } %>
</body>
</html>