<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<a href="/pokemon"> Return to the pokedex </a> </br>
	<h1>CREATE A NEW POKEMON</h1>
	<form action="/pokemon/new?_method=PUT" method="POST">
		NAME: <input type="text" name="name"/><br /><br />
		IMAGE URL: <input type="text" name="img"/><br /><br />
		TYPE: <input type="text" name="type"/>( , between types)<br /><br />
		HP: <input type="text" name="hp"/><br /><br />
		ATTACK: <input type="text" name="attack"/><br /><br />
		DEFENSE: <input type="text" name="defense"/><br /><br />
		<input type="submit" name="" value="New Pokemon"/>
	<form> 
</body>
</html>