<!DOCTYPE html>
<html>
<head>
	<title>Add Pokemon</title>
</head>
<body>
	<h1>Create your own Pokemon!</h1>

	<form action="/pokemon" method="POST">

		NAME: <input type="text" name="name">
		<br>
		IMAGE: <input type="text" name="img">
		<br>
		TYPE: <input type="text" name="type">
		<br>
		HP: <input type="text" name="hp">
		<br>
		ATTACK: <input type="text" name="attack">
		<br>
		DEFENSE: <input type="text" name="defense">
		<br>
		SPEED: <input type="text" name="speed">
		<br>
		<input type="submit" name="Create Pokemon">
		
	</form>

	<a href="/pokemon"> &lt; Go back to the 151!</a>

</body>
</html>