<!DOCTYPE html>
<html>
<head>
	<title>Create New Pokemon</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
</head>
<body>

	<h1>Create A New Pokemon</h1>

	<form action="/pokemon" methon=POST>
		NAME: <input type="text" name="name"><br>
		IMG URL: <input type="text" name="img"><br>
		TYPE: <input type="text" name="types"><br>
		HP: <input type="text" name="hp"><br>
		ATTACK: <input type="text" name="attack"><br>
		DEFENSE: <input type="text" name="defese"><br>
		<input type="submit" name="" value="Create Pokemon">

	</form>


</body>
</html>