<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>New Poke Page</title>
</head>
<body>
	<h1>Add a Poke</h1>

	<form action="/pokemon" method="POST">
		NAME: <input type="text" name="name" /><br />
		<input type="submit" name="" value="Create" />
		
	</form>
	<br/>
	<a href="/pokemon"> &lt; back to all pokemon </a>


</body>
</html>