<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>View Pokemon</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div id="show-container">

	<div id="detail-container">
		<div id="image-container"></div>
		<div id="info-container">
			<div id="name-and-number"></div>
			<div id="types"></div>
			<div id="height-and-weight"></div>
		</div>
	</div>

	<div id="description-container"></div>

	<div id="edit-container"></div>
</div>


</body>
</html>