<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="show.ejs">
	<title><%= data.name %></title>
</head>
<body>
	<h1> 'Gotta Catch 'Em All'</h1>
	<h2><%=data.name %></h2>
	<img src="<%=data.img %>">
	<br/>
	<a href="/pokemon/"> back </a>


		<style type="text/css">
		body {

		  color: blanchedalmond;
		  background-color: steelblue;
		
		}
		</style>


</body>
</html>