body {
  width: 95vw;
  background-color: lightblue;
  color: white;
  font-family: 'Encode Sans Expanded', sans-serif;
  text-align: center;
  margin: 0 auto;
}
img {
  height: 150px;
  width: 150px;
}
ul {
  list-style-type: none;
}
.poke-container {
  border: 1px solid black;
  width: 200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}
